{% extends "unit_logs/base.html" %}

{% block content %}

<style>
    .units{
        display: flex;
        flex-flow: row;
        justify-content: space-around;

    }
</style>


    
<div class="pb-2 mb-2 border-bottom">
    <h3>Winx</h3>
</div>

<div class="units">

<div>
    <p>Sticks:</p>
<ul>
    {% for unit in units %}
        {% if unit.status == 'STICK' and unit.type == 'W' %}
            <a href="{% url 'unit_logs:show_unit' unit.id %}">
            <li>{{ unit }}  ({{ unit.date_added|date:'M d' }})</li>
            </a>
        {% endif %}
    {% endfor %}
</ul>
</div>


<div>
    <p>Not on map:</p>
<ul>
{% for unit in units %}
    {% if unit.status == 'MISSING' and unit.type == 'W' %}
    <a href="{% url 'unit_logs:show_unit' unit.id %}">
    <li>{{ unit }}  ({{ unit.date_added|date:'M d' }})</li>
    </a>
    {% endif %}
{% endfor %}
</ul>
</div>

<div>
    <p>Failed:</p>
<ul>
{% for unit in units %}
    {% if unit.status == 'FAILED' and unit.type == 'W' %}
    <a href="{% url 'unit_logs:show_unit' unit.id %}">
    <li>{{ unit }}  ({{ unit.date_added|date:'M d' }})</li>
    </a>
    {% endif %}
{% endfor %}
</ul>
</div>

</div>
<br>
<div class="pb-2 mb-2 border-bottom">
    <h3>Enable</h3>
</div>

<div class="units">

<div>
    <p>Sticks:</p>
<ul>
    {% for unit in units %}
        {% if unit.status == 'STICK' and unit.type == 'E' %}
            <a href="{% url 'unit_logs:show_unit' unit.id %}">
            <li>{{ unit }}  ({{ unit.date_added|date:'M d' }})</li>
            </a>
        {% endif %}
    {% endfor %}
</ul>
</div>


<div>
    <p>Not on map:</p>
<ul>
{% for unit in units %}
    {% if unit.status == 'MISSING' and unit.type == 'E' %}
    <a href="{% url 'unit_logs:show_unit' unit.id %}">
    <li>{{ unit }}  ({{ unit.date_added|date:'M d' }})</li>
    </a>
    {% endif %}
{% endfor %}
</ul>
</div>

<div>
    <p>Failed:</p>
<ul>
{% for unit in units %}
    {% if unit.status == 'FAILED' and unit.type == 'E' %}
    <a href="{% url 'unit_logs:show_unit' unit.id %}">
    <li>{{ unit }}  ({{ unit.date_added|date:'M d' }})</li>
    </a>
    {% endif %}
{% endfor %}
</ul>
</div>

</div>

<br>
<div class="pb-2 mb-2 border-bottom">
    <h3>Arkle</h3>
</div>

<div class="units">

<div>
    <p>Sticks:</p>
<ul>
    {% for unit in units %}
        {% if unit.status == 'STICK' and unit.type == 'A' %}
            <a href="{% url 'unit_logs:show_unit' unit.id %}">
            <li>{{ unit }}  ({{ unit.date_added|date:'M d' }})</li>
            </a>
        {% endif %}
    {% endfor %}
</ul>
</div>


<div>
    <p>Not on map:</p>
<ul>
{% for unit in units %}
    {% if unit.status == 'MISSING' and unit.type == 'A' %}
    <a href="{% url 'unit_logs:show_unit' unit.id %}">
    <li>{{ unit }}  ({{ unit.date_added|date:'M d' }})</li>
    </a>
    {% endif %}
{% endfor %}
</ul>
</div>

<div>
    <p>Failed:</p>
<ul>
{% for unit in units %}
    {% if unit.status == 'FAILED' and unit.type == 'A' %}
    <a href="{% url 'unit_logs:show_unit' unit.id %}">
    <li>{{ unit }}  ({{ unit.date_added|date:'M d' }})</li>
    </a>
    {% endif %}
{% endfor %}
</ul>
</div>

</div>

<br>
<div class="pb-2 mb-2 border-bottom">
    <h3>Denman</h3>
</div>

<div class="units">

<div>
    <p>Sticks:</p>
<ul>
    {% for unit in units %}
        {% if unit.status == 'STICK' and unit.type == 'D' %}
            <a href="{% url 'unit_logs:show_unit' unit.id %}">
            <li>{{ unit }}  ({{ unit.date_added|date:'M d' }})</li>
            </a>
        {% endif %}
    {% endfor %}
</ul>
</div>


<div>
    <p>Not on map:</p>
<ul>
{% for unit in units %}
    {% if unit.status == 'MISSING' and unit.type == 'D' %}
    <a href="{% url 'unit_logs:show_unit' unit.id %}">
    <li>{{ unit }}  ({{ unit.date_added|date:'M d' }})</li>
    </a>
    {% endif %}
{% endfor %}
</ul>
</div>

<div>
    <p>Failed:</p>
<ul>
{% for unit in units %}
    {% if unit.status == 'FAILED' and unit.type == 'D' %}
    <a href="{% url 'unit_logs:show_unit' unit.id %}">
    <li>{{ unit }}  ({{ unit.date_added|date:'M d' }})</li>
    </a>
    {% endif %}
{% endfor %}
</ul>
</div>

</div>

<br>
<div class="pb-2 mb-2 border-bottom">
    <h3>Kauto</h3>
</div>

<div class="units">

<div>
    <p>Sticks:</p>
<ul>
    {% for unit in units %}
        {% if unit.status == 'STICK' and unit.type == 'K' %}
            <a href="{% url 'unit_logs:show_unit' unit.id %}">
            <li>{{ unit }}  ({{ unit.date_added|date:'M d' }})</li>
            </a>
        {% endif %}
    {% endfor %}
</ul>
</div>


<div>
    <p>Not on map:</p>
<ul>
{% for unit in units %}
    {% if unit.status == 'MISSING' and unit.type == 'K' %}
    <a href="{% url 'unit_logs:show_unit' unit.id %}">
    <li>{{ unit }}  ({{ unit.date_added|date:'M d' }})</li>
    </a>
    {% endif %}
{% endfor %}
</ul>
</div>

<div>
    <p>Failed:</p>
<ul>
{% for unit in units %}
    {% if unit.status == 'FAILED' and unit.type == 'K' %}
    <a href="{% url 'unit_logs:show_unit' unit.id %}">
    <li>{{ unit }}  ({{ unit.date_added|date:'M d' }})</li>
    </a>
    {% endif %}
{% endfor %}
</ul>
</div>

</div>

<br>
<div class="pb-2 mb-2 border-bottom">
    <h3>Frankel</h3>
</div>

<div class="units">

<div>
    <p>Sticks:</p>
<ul>
    {% for unit in units %}
        {% if unit.status == 'STICK' and unit.type == 'F' %}
            <a href="{% url 'unit_logs:show_unit' unit.id %}">
            <li>{{ unit }}  ({{ unit.date_added|date:'M d' }})</li>
            </a>
        {% endif %}
    {% endfor %}
</ul>
</div>


<div>
    <p>Not on map:</p>
<ul>
{% for unit in units %}
    {% if unit.status == 'MISSING' and unit.type == 'F' %}
    <a href="{% url 'unit_logs:show_unit' unit.id %}">
    <li>{{ unit }}  ({{ unit.date_added|date:'M d' }})</li>
    </a>
    {% endif %}
{% endfor %}
</ul>
</div>

<div>
    <p>Failed:</p>
<ul>
{% for unit in units %}
    {% if unit.status == 'FAILED' and unit.type == 'F' %}
    <a href="{% url 'unit_logs:show_unit' unit.id %}">
    <li>{{ unit }}  ({{ unit.date_added|date:'M d' }})</li>
    </a>
    {% endif %}
{% endfor %}
</ul>
</div>

</div>

<br>
<div class="pb-2 mb-2 border-bottom">
    <h3>All</h3>
</div>

<div class="units">

<div>
    <p>Sticks:</p>
<ul>
    {% for unit in units %}
        {% if unit.status == 'STICK' %}
            <a href="{% url 'unit_logs:show_unit' unit.id %}">
            <li>{{ unit }}  ({{ unit.date_added|date:'M d' }})</li>
            </a>
        {% endif %}
    {% endfor %}
</ul>
</div>


<div>
    <p>Not on map:</p>
<ul>
{% for unit in units %}
    {% if unit.status == 'MISSING' %}
    <a href="{% url 'unit_logs:show_unit' unit.id %}">
    <li>{{ unit }}  ({{ unit.date_added|date:'M d' }})</li>
    </a>
    {% endif %}
{% endfor %}
</ul>
</div>

<div>
    <p>Failed:</p>
<ul>
{% for unit in units %}
    {% if unit.status == 'FAILED' %}
    <a href="{% url 'unit_logs:show_unit' unit.id %}">
    <li>{{ unit }}  ({{ unit.date_added|date:'M d' }})</li>
    </a>
    {% endif %}
{% endfor %}
</ul>
</div>







</div>

{% endblock content %}